.dashboard {
  --width: auto;
  --padding: 1rem 5rem;

  @media (min-width: 600px) {
    --width: 10rem;
    --padding: 1rem;
  }

  padding-block: 1.5rem;
  position: relative;
  width: var(--width);

  .dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: var(--padding);
  }

  #dashboard-plate {
    background: oklch(0.25 0 0);
    box-shadow: 1px 1px 5px 0px oklch(0 0 0 / 0.8);
    border: 1px solid oklch(0.3 0 0);
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  #switcher {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 0;
  }

}