.dashboard {
  background: oklch(0.2 0 0);
  box-shadow: 0 1px 3px oklch(0 0 0 / 0.8);
  border: 1px solid oklch(0.25 0 0);

  display: flex;
  display: none;
  justify-content: flex-end;
  margin-block: 1rem;
  padding: 1rem;
}