.dashboard {
  background: oklch(0.25 0 0);
  box-shadow: 0 1px 3px oklch(0 0 0 / 0.8);
  border: 1px solid oklch(0.25 0 0);

  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

#drone {
  display: none;
}