#leds {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;

  .led {
    --size: 0.75rem;
    --level: .1;
    border: 3px transparent;
    border-radius: 100vw;
    height: var(--size);
    transition: all 0.2s;
    width: var(--size);
  }

  .led:nth-child(1),
  .led:nth-child(2) {
    background:
      radial-gradient(oklch(0 0 120 / 0.1),
        oklch(0 0 120 / 0.8)),
      oklch(var(--level) 0.4 120);
  }

  .led:nth-child(3),
  .led:nth-child(4) {
    background:
      radial-gradient(oklch(0 0 100 / 0.1),
        oklch(0 0 100 / 0.8)),
      oklch(var(--level) 0.4 100);
  }

  .led:nth-child(5) {
    background:
      radial-gradient(oklch(0 0 0 / 0.1),
        oklch(0 0 0 / 0.8)),
      oklch(var(--level) 0.3 10);
  }
}