@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=JetBrains+Mono:wght@400;700&display=swap');

:root {
    --green: oklch(0.4 0.1 145);

    --dir: column;
    --gap: 1rem;
    --margin: 0;
    --padding: 1rem;

    @media (min-width: 600px) {
        --dir: row;
        --gap: 2rem;
        --margin: 2rem;
        --padding: 3rem;
    }
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background: oklch(0.15 0.25 120);
    color: oklch(0.95 0 0);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: var(--margin);
    place-content: center;
}

body::before {
    content: '';
    background:
        url(../img/texture.jpg);
    background-size: cover;
    filter: grayscale(100%);
    inset: 0;
    opacity: 0.2;
    position: absolute;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 900;
    letter-spacing: 0.2rem;
    margin: 0;
    margin-block-end: 2rem;
}

main {
    border-block-end: none;
    display: flex;
    flex-direction: var(--dir);
    gap: var(--gap);
    padding: var(--padding);
    position: relative;
}

.audio {
    align-items: center;
    border: 2px solid oklch(0.4 0.1 145);
    color: oklch(0.9 0 0);
    display: inline-flex;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.75rem;
    gap: 0.5rem;
    margin: 1rem 0;
    padding: 0.25rem 0.5rem;
}

#play {
    appearance: none;
    border: 2px solid var(--green);
    height: 1rem;
    width: 1rem;
}

#play:checked {
    background-color: oklch(0.6 0.2 145);
}