@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=JetBrains+Mono:wght@400;700&family=Special+Elite&display=swap');

:root {
  --green: oklch(0.4 0.1 145);

  --areas:
    "terminal"
    "dashboard"
    "manual";
  --columns: auto;
  --col-gap: 1rem;
  --dir: column;
  --gap: 1rem;
  --margin: 0;
  --padding: 1rem;
  --p-i: 0.5rem;
  --p-top: 0.5rem;
  --rows: 1fr auto 1fr;
  --row-gap: 0.5rem;
  --width: 100%;

  @media (min-width: 600px) {
    --areas:
      "terminal dashboard"
      "manual manual";
    --columns: auto auto;
    --col-gap: 2rem;
    --dir: row;
    --gap: 2rem;
    --margin: 2rem;
    --padding: 3rem;
    --p-i: 3rem;
    --p-top: 5vh;
    --rows: auto 1fr;
    --row-gap: 5vh;
    --width: fit-content;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: oklch(0.15 0.25 120);
  color: oklch(0.95 0 0);
}

body::before {
  content: '';
  background:
    url(../img/texture.jpg);
  background-size: cover;
  filter: grayscale(100%);
  inset: 0;
  opacity: 0.2;
  position: absolute;
}

h1 {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 900;
  letter-spacing: 0.2rem;
  margin: 0;
  margin-block-end: 2rem;
}

main {
  display: grid;
  column-gap: var(--col-gap);
  grid-template-areas: var(--areas);
  grid-template-columns: var(--columns);
  grid-template-rows: var(--rows);
  height: 100vh;
  justify-items: start;
  margin: 0 auto;
  overflow: hidden;
  padding-block-start: var(--p-top);
  padding-inline: var(--p-i);
  row-gap: var(--row-gap);
  width: 100vw;
}