@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=JetBrains+Mono:wght@400;700&display=swap');

:root {
    --glitch: 5;
    --glitch-lower: -1;
    --glitch-upper: -2;
    --noise: 20;
    --overlay: 10;
    --terminal-bg: 0;

    --green: oklch(0.4 0.1 145);
}

* {
    box-sizing: border-box;
}

body {
    background: oklch(0.25 0.2 120);
    color: oklch(0.95 0 0);
    margin: 5rem;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
}

header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.audio {
    align-items: center;
    border: 2px solid oklch(0.4 0.1 145);
    color: oklch(0.9 0 0);
    display: inline-flex;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.75rem;
    gap: 0.5rem;
    margin: 1rem 0;
    padding: 0.25rem 0.5rem;
}

#play {
    appearance: none;
    border: 2px solid var(--green);
    height: 1rem;
    width: 1rem;
}

#play:checked {
    background-color: oklch(0.6 0.2 145);
}
