@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=JetBrains+Mono:wght@400;700&display=swap');

:root {
    --glitch: 5;
    --glitch-lower: -1;
    --glitch-upper: -2;
    --noise: 20;
    --overlay: 10;
    --terminal-bg: 0;

    --green: oklch(0.4 0.1 145);
}

body {
    background: oklch(0.25 0.2 120);
    color: oklch(0.95 0 0);
    margin: 5rem;
}

h1 {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
}

.audio {
    align-items: center;
    border: 2px solid oklch(0.4 0.1 145);
    color: oklch(0.9 0 0);
    display: inline-flex;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.75rem;
    gap: 0.5rem;
    margin: 1rem 0;
    padding: 0.25rem 0.5rem;
}

.content {
    align-content: center;
    border-radius: 1rem;
    filter: contrast(1.1) brightness(1.1);
    height: 100%;
    margin: 0 auto;
    position: absolute;
    padding: 0 3rem;
    transform: perspective(1000px) rotateX(2deg) scale(1.02);
    z-index: 4;
}

.dashboard {
    background: oklch(0.2 0 0);
    box-shadow: 0 1px 3px oklch(0 0 0 / 0.8);
    border: 1px solid oklch(0.25 0 0);

    display: flex;
    justify-content: flex-end;
    margin-block: 1rem;
    padding: 1rem;
}

.glitch {
    position: relative;
    text-shadow: 0 0 0.25rem oklch(0.7 0.15 145 / 0.3);
    z-index: var(--glitch);
}

.glitch::after,
.glitch::before {
    content: attr(data-text);
    inset: 0;
    position: absolute;
}

.glitch::after {
    animation: idle-glitch 2s linear both infinite;
    color: oklch(0.6 0 0);
    filter: blur(2px);
    z-index: var(--glitch-lower);
}

.glitch::before {
    animation: idle-glitch 2s linear reverse both infinite;
    color: oklch(0.6 0.2 0);
    z-index: var(--glitch-upper);
}

.heavy-glitch {
    animation: heavy-glitch 0.1s linear infinite;
    filter: contrast(200%) brightness(50%);
}

.heavy-glitch::after {
    animation: ghost-trail 0.2s ease-out;
}

.led {
    --size: 0.75rem;
    --level: .1;
    border: 3px transparent;
    border-radius: 100vw;
    height: var(--size);
    transition: all 0.2s;
    width: var(--size);
}

.led:nth-child(1),
.led:nth-child(2) {
    background:
        radial-gradient(
            oklch(0 0 120 / 0.1),
            oklch(0 0 120 / 0.8)
        ),
        oklch(var(--level) 0.4 120);
}

.led:nth-child(3),
.led:nth-child(4) {
    background:
        radial-gradient(
            oklch(0 0 100 / 0.1),
            oklch(0 0 100 / 0.8)
        ),
        oklch(var(--level) 0.4 100);
}

.led:nth-child(5) {
    background:
        radial-gradient(
            oklch(0 0 0 / 0.1),
            oklch(0 0 0 / 0.8)
        ),
        oklch(var(--level) 0.4 10);
}

.overlay {
    border-radius: 1rem;
    content: "";
    position: absolute;
    inset: 0;
    background:
        radial-gradient(
            circle at 0% 0%,
            oklch(0.5 0.05 145 / 0.2) 0%,
            transparent 3%
        ),
        radial-gradient(
            circle at 100% 100%,
            oklch(0.5 0.05 145 / 0.2) 0%,
            transparent 3%
        ),
        radial-gradient(
            circle at 100% 0%,
            oklch(0.5 0.05 145 / 0.2) 0%,
            transparent 3%
        ),
        radial-gradient(
            circle at 0% 100%,
            oklch(0.5 0.05 145 / 0.2) 0%,
            transparent 3%
        );
}

.scanlines {
    background-image:
        repeating-linear-gradient(
            oklch(0 0 0 / 0.2),
            oklch(0 0 0 / 0.2) 1px,
            transparent 1px,
            transparent 2px
        );
    border-radius: 1rem;
    height: 100%;
    mask-image: radial-gradient(oklch(0 0 0 / 0.4) 10%,
            oklch(0 0 0 / 0.15) 100%);
    position: absolute;
    width: 100%;
    z-index: var(--overlay);
}

.terminal {
    /* animation: crt-init 0.5s linear forwards; */
    background: black;
    border-radius: 1rem;
    min-height: 20rem;
    min-width: 40rem;
    position: relative;
}

.terminal-bg {
    background-image:
        url('zone.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 1rem;
    height: 100%;
    mask-image: radial-gradient(
        oklch(0 0 0 / 0.4) 10%,
        oklch(0 0 0 / 0.25) 100%
    );
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: var(--terminal-bg);
}

.text {
    font-family: 'JetBrains Mono', monospace;
}

#ledrow {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

#noise-overlay {
    border-radius: 1rem;
    height: 100%;
    inset: 0;
    /* mix-blend-mode: screen; */
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: var(--noise);
}

#play {
    appearance: none;
    border: 2px solid var(--green);
    height: 1rem;
    width: 1rem;
}

#play:checked {
    background-color: oklch(0.6 0.2 145);
}

@keyframes ghost-trail {
    0% {
        opacity: 0.8;
        transform: translate(-10px, 2px) scale(1.05);
    }

    100% {
        opacity: 0;
        transform: translate(0, 0) scale(1);
    }
}

@keyframes heavy-glitch {
    0% {
        clip-path: inset(20% 0 50% 0);
        transform: translateX(-5px);
    }

    50% {
        clip-path: inset(60% 0 10% 0);
        transform: translateX(5px);
    }

    100% {
        clip-path: inset(10% 0 80% 0);
        transform: translateX(0);
    }
}

@keyframes crt-init {
    0% {
        transform: scaleX(0) scaleY(0.005);
        filter: brightness(5);
    }

    50% {
        transform: scaleX(1) scaleY(0.005);
        filter: brightness(5);
    }

    100% {
        transform: scaleX(1) scaleY(1);
        filter: brightness(1);
    }
}

@keyframes idle-glitch {
    0% {
        transform: translate(0);
    }

    90% {
        transform: translate(-2px, 2px);
    }

    92% {
        transform: translate(-2px, -2px);
    }

    94% {
        transform: translate(2px, 2px);
    }

    98% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}
